img.ImageFrame_image { vertical-align:bottom; border:none; }
table.ImageFrame_notebook { direction: ltr; }
table.ImageFrame_notebook .TL { width:30px; height:14px; background:url(modules/imageframe/frames/notebook/TL.gif) no-repeat; }
table.ImageFrame_notebook .TT { height:14px; background:url(modules/imageframe/frames/notebook/TT.gif) repeat-x; }
table.ImageFrame_notebook .TR { width:15px; height:14px; background:url(modules/imageframe/frames/notebook/TR.gif) no-repeat; }
table.ImageFrame_notebook .LL { width:30px; background:url(modules/imageframe/frames/notebook/LL.gif) repeat-y; }
table.ImageFrame_notebook .LL div.V { width:30px; }
table.ImageFrame_notebook .RR { width:15px; background:url(modules/imageframe/frames/notebook/RR.gif) repeat-y; }
table.ImageFrame_notebook .RR div.V { width:15px; }
table.ImageFrame_notebook .BL { width:30px; height:15px; background:url(modules/imageframe/frames/notebook/BL.gif) no-repeat; }
table.ImageFrame_notebook .BB { height:15px; background:url(modules/imageframe/frames/notebook/BB.gif) repeat-x; }
table.ImageFrame_notebook .BR { width:15px; height:15px; background:url(modules/imageframe/frames/notebook/BR.gif) no-repeat; }
table.ImageFrame_notebook td { font-size:1px } /* For IE */
table.ImageFrame_shadow { direction: ltr; }
table.ImageFrame_shadow .RRT { height:10px; background:url(modules/imageframe/frames/shadow/RRT.png) no-repeat; }
table.ImageFrame_shadow .RR { width:7px; background:url(modules/imageframe/frames/shadow/RR.png) repeat-y; }
table.ImageFrame_shadow .RR div.V { width:7px; }
table.ImageFrame_shadow .BBL { width:9px; background:url(modules/imageframe/frames/shadow/BBL.png) no-repeat; }
table.ImageFrame_shadow .BB { height:7px; background:url(modules/imageframe/frames/shadow/BB.png) repeat-x; }
table.ImageFrame_shadow .BR { width:7px; height:7px; background:url(modules/imageframe/frames/shadow/BR.png) no-repeat; }
table.ImageFrame_shadow td { font-size:1px } /* For IE */
td div.H { width:1px; height:0; }
td div.V { width:0; height:1px; }